[package]
name = "bevy_dolly_cameras"
version = "0.0.2"
authors = ["Black Phlox <bphlox@gmail.com>", "Caleb Yates <calebyates42@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/ActuallyHappening/bevy_dolly_cameras"
documentation = "https://docs.rs/bevy_dolly"
description = "The dolly abstraction layer for the bevy game framework"
keywords = ["gamedev", "bevy", "camera", "fps", "3d" ]
categories = ["game-development", "game-engines", ]
exclude = [
    "assets/*",
    ".github/*",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.dev]
opt-level = 3

[lib]
name = "bevy_dolly"

[features]
default = ["drivers", "helpers"]
drivers = []
helpers = ["dep:leafwing-input-manager"]

[dependencies]
# dolly = { version = "0.4", default-features = false }
leafwing-input-manager = { version = "0.11", optional = true }

[dependencies.dolly]
version = "0.4"
# git = "https://github.com/BlackPhlox/dolly.git"
default-features = false

[dependencies.bevy]
version = "0.12.0"
features = ["bevy_render", "bevy_asset", "bevy_pbr"]
default-features = false

[dev-dependencies]
leafwing-input-manager = "0.11"

[dev-dependencies.bevy]
version = "0.12.0"
features = ["bevy_core_pipeline", "bevy_asset", "bevy_scene", "bevy_pbr", "bevy_winit", "bevy_gltf", "bevy_sprite", "png", "ktx2", "zstd", "tonemapping_luts"]
default-features = false

[target.'cfg(target_os = "linux")'.dev-dependencies.bevy]
version = "0.12.0"
features = ["x11", "wayland"]
default-features = false
